html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin: 0;
    background-color: #fdf5e6;
}

.image{
    margin-top: 120px;
}

.navbar {
    background-color: #FD1F3D;
    font-weight: bold;
}

.nav-link{
    margin-top:20px;
}

.containerAuth {
    color: white;
    background-color: #390814;
    width: 50%;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    padding: 50px;
    box-sizing: border-box;
    overflow-y: auto;
}

.button {
    background-color: #FD1F3D;
    color: white;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
    border: none;
    padding-right: 30px;
    padding-left: 30px;
    display: block;
    margin: 20px auto 0;
}
    .button:hover {
        background-color: white;
        color: #390814;
    }

label{
    display: block;
    text-align: left;
    margin-bottom: 0.5rem;
}

.forgot-pass {
    display: block;
    text-align: right;
    margin-bottom: 0.5rem;
}

.form-group{
    margin-bottom: 20px;
}

form{
    padding: 20px;
}

input{
    border-radius: 16px;
}