@page
@model Culture2Geth.Pages.HomeModel
@{
    ViewData["Title"] = "Home Page";
}

<!--This is the home page for all users-->
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Culture2Geth</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Culture2Geth.styles.css" asp-append-version="true" />
</head>

<body>
<div class="my-row">
        <div style="color:#390814;">
            <h1>Together Culture is a community interest company based at 5 Fitzroy Street.</h1>
            <h2>We do what we say on the tin, we build together culture. </h2>
            <p>Think of ‘Together Culture’ as a noun.<br />
                <strong>Together Culture (n.)</strong> the product of turning up to collaborate in the acts of sharing, caring, learning, and experimenting which results in the spreading of gritty hope, through action.<br>
                You're capable of helping to shape an economy that is more inclusive and ecological. At Together Culture, we're shaping a world of work that supports everyone's wellbeing and shares prosperity.
            </p>
            <button class="button"
                    type="button"
                    onclick="window.location.href='/Register'"
                    style="background: #390814;"
                    onmouseover="this.style.backgroundColor='white'; this.style.color= '#390814'"
                    onmouseout="this.style.backgroundColor='#390814'; this.style.color='white'">
                Join us
            </button>
    </div>
    <div class="image-section">
        <img src="~/images/store.jpg" />
    </div>
</div>
</body>