@page
@model Culture2Geth.Pages.MemberModel
@{
    ViewData["Title"] = "Member Page";
    Layout = null;
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/Culture2Geth.styles.css" asp-append-version="true" />

<div class="admin-container">
    <div class="admin-header navbar">
        <img src="images/logonav.png" alt="Together Culture Cambridge Logo" style="height: 100px"/>
        <input class="search-bar" type="text" placeholder="Search..." />
        <span class="nav-link" style="color: white; font-size: 14px; font-weight:normal;margin-right: 15px">Events</span>
        <span class="nav-link" style="color: white; font-size: 14px;font-weight:normal; margin-right: 15px">Calendar</span>
        <button class="button" onclick="window.location.href='/Logout'" style="margin-top: 10px; margin-right: 20px; background-color: white; color: black">Logout</button>
        <div class="profile">
            <img src="~/images/ProfilePic.png" alt="Profile Picture">
            <span>Me</span>
        </div>
    </div>
</div>
<div class="my-row">
    <div class="member-card">
        <img class="card-img" src="~/images/event1.jpg">
        <button class="member-button">Kite event</button>
    </div>
    <div class="member-card">
        <img class="card-img" src="~/images/event2.jpg">
        <button class="member-button">Let's get cooking</button>
    </div>
    <div class="member-card">
        <img class="card-img" src="~/images/event3.jpg">
        <button class="member-button">Namaste :)</button>
    </div>
</div>
<br />
<div class="my-row">
    <div class="member-card">
        <img class="card-img" src="~/images/event4.jpg">
        <button class="member-button">Knit for winter! brr..</button>
    </div>
    <div class="member-card">
        <img class="card-img" src="~/images/event5.jpg">
        <button class="member-button">Plant the Earth's lungs!</button>
    </div>
    <div class="member-card">
        <img class="card-img" src="~/images/event6.jpg">
        <button class="member-button">Ready for Harry Styles concert?</button>
    </div>
</div>

