@page
@model Culture2Geth.Pages.RegisterModel
@{
    ViewData["Title"] = "Membership Registration Page";
    Layout = null;
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Culture2Geth</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Culture2Geth.styles.css" asp-append-version="true" />
</head>

<div class="DetailsContainer">
    <h4 style="color:white;">For your reference</h4>
    <br />
    <p style="color: white">We offer three types of membership:</p>
    <ul class="BenefitsList">
        <li>Community Memebership: £18.5/ month, The Community Membership offers free or discounted event tickets, access to workshops, participation in the Citizens' Studio, a voice in new social enterprises, and a City Centre base for work, relaxation, and socializing.</li>
        <br />
        <li>Key Access Membership: £45/ month, Priority access to exclusive spaces, resources, and events within Together Culture Fitzroy, providing a more premium experience for members seeking enhanced access and opportunities.</li>
        <br />
        <li>Creative Workspace Member: £70/ month + £100 joining fee, The Workspace Membership includes all Community Membership perks, plus 24/7 access to Together Culture Fitzroy, a dedicated workspace, storage space, and a network of like-minded collaborators.</li>
    </ul>
</div>

<div class="containerAuth">
    <h2 style="color: #FD1F3D">Request for membership</h2>
    <form method="POST">
        <div asp-validation-summary="All" class="text-danger"></div>

        <h3>Step 1: Basic Information</h3>
        <br />
        <div class="form-group">
            <label for="FirstName">First Name*</label>
            <input asp-for="FirstName" class="form-control" placeholder="Enter your first name" required />
        </div>
        <div class="form-group">
            <label for="LastName">Last Name*</label>
            <input asp-for="LastName" class="form-control" placeholder="Enter your last name" required />
        </div>
        <div class="form-group">
            <label for="Email">Email*</label>
            <input asp-for="Email" class="form-control" placeholder="Enter your email" required />
        </div>

        <div class="form-group">
            <label for="Password">Password*</label>
            <input asp-for="Password" type="password" class="form-control" placeholder="Enter your password" required />
        </div>
        <div class="form-group">
            <label for="ConfirmPassword">Confirm Password*</label>
            <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Confirm your password" required />
        </div>

        <h3>Step 2: Address and Contact Information</h3>
        <br />
        <div class="form-group">
            <label for="Address">Address*</label>
            <input asp-for="Address" class="form-control" placeholder="Enter your address" required />
        </div>
        <div class="form-group">
            <label for="PhoneNumber">Phone Number*</label>
            <input asp-for="PhoneNumber" type="tel" class="form-control" placeholder="Enter your phone number" required />
        </div>

        <h3>Step 3: Membership Details</h3>
        <br />
        <div class="form-group">
            <label for="MembershipType">Membership Type*</label>
            <select asp-for="MembershipType" class="form-control" required>
                <option value="">Select your membership type</option>
                <option value="CommunityMember">Community Member</option>
                <option value="KeyAccessMember">Key Access Member</option>
                <option value="CreativeWorkspaceMember">Creative Workspace Member</option>
            </select>
        </div>

        <h3>Step 4: Interests</h3>
        <br />
        <div class="form-group">
            <label for="Interests">Interests</label>
            <div>
                <label><input type="checkbox" name="Interests" value="Sharing" /> Sharing</label>
                <label><input type="checkbox" name="Interests" value="Caring" /> Caring</label>
                <label><input type="checkbox" name="Interests" value="Learning" /> Learning</label>
                <label><input type="checkbox" name="Interests" value="Working" /> Working</label>
                <label><input type="checkbox" name="Interests" value="Happenings" /> Happenings</label>
            </div>
        </div>
        <br />
        <div class="form-group">
            <label for="MailingList">Mailing list</label>
            <div>
                <p style="font-weight: bold">Would you like to receive emails about promotions and exciting oppportunities from us?*</p>
                <label><input type="radio" name="MailingList" value= 1 /> Yes</label>
                <label><input type="radio" name="MailingList" value= 2 /> No</label>

            </div>
        </div>

        <br />
        <button class="button" type="submit">Submit</button>
    </form>
</div>
