@page
@model Culture2Geth.Pages.SuccessModel
@{
	ViewData["Title"] = "Registration success page";
}

<!--This is the page that appears after a user successfully registers and sends for approval-->

<div class="text-center">
	<h1 style="color:green">Success!</h1>
	<h2 style="color:green">Your membership request has been successfuly submitted and is pending admin approval.</h2>
	<p>Will will notify you once your request has been approved :)</p>
</div>